@layer theme, base, components, utilities;
@import "@ovhcloud/ods-themes/default";

html {
  font-family: var(--ods-font-family-default);
}

html,
body {
  padding: 0;
  margin: 0;
}
main {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  place-items: flex-start;
  padding: 1rem;
}
.component {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  place-items: flex-start;
}